body { font: 10px Arial;}

table, th, td {
    border: 0px solid black;
}

input,
canvas {
  position: absolute;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

tt.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 58px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;


#rentLine {
	stroke: firebrick;
}

#rentScatter {
    stroke: firebrick;
    fill: firebrick;
}

#buyLine { 
	stroke: steelblue;
}

#buyScatter {
    stroke: steelblue;
    fill: steelblue;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 100px;					
    height: 42px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightgray;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}