
<!DOCTYPE html>
<meta charset="utf-8">
<script>
// Reading data from Python Flask server
var myData = {{d|tojson}};
var payOff = {{payOff}};
</script>
<body>
	<div id="container1">
        <svg id="canvas1" width="960" height="350"></svg>
    </div>
    <p id="message">If you stay in your home for <strong>{{payOff}} months or more</strong>, <strong>buying</strong> is the most profitable option.</p>
<script src="https://d3js.org/d3.v5.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/equity.css">
</body>
<script src="static/js/equity.js"></script>
</html>