
<!DOCTYPE html>
<meta charset="utf-8">
<body>
    <p>Equity build-up analysis</p>
	<div id="container1">
        <svg id="canvas1" width="960" height="350"></svg>
    </div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/equity.css">
</body>
<script>
var myData = [
    {"month": 0, "buy": 68.13, "rent": 34.12},
    {"month": 1, "buy": 63.98, "rent": 45.56},
    {"month": 2, "buy": 67.00, "rent": 67.89},
    {"month": 3, "buy": 89.70, "rent": 78.54},
    {"month": 4, "buy": 99.00, "rent": 89.23},
    {"month": 5, "buy": 130.28, "rent": 99.23},
    {"month": 6, "buy": 166.70, "rent": 101.34},
    {"month": 7, "buy": 234.98, "rent": 122.34},
    {"month": 8, "buy": 345.44, "rent": 134.56},
    {"month": 9, "buy": 443.34, "rent": 160.45},
    {"month": 10, "buy": 543.70, "rent": 180.34},
    {"month": 11, "buy": 580.13, "rent": 210.23},
    {"month": 12, "buy": 605.23, "rent": 223.45},
    {"month": 13, "buy": 622.77, "rent": 201.56},
    {"month": 14, "buy": 626.20, "rent": 212.67},
    {"month": 15, "buy": 628.44, "rent": 310.45},
    {"month": 16, "buy": 636.23, "rent": 350.45},
    {"month": 17, "buy": 633.68, "rent": 410.23},
    {"month": 18, "buy": 624.31, "rent": 430.56},
    {"month": 19, "buy": 629.32, "rent": 460.34},
    {"month": 20, "buy": 618.63, "rent": 510.34},
    {"month": 21, "buy": 599.55, "rent": 534.23},
    {"month": 22, "buy": 609.86, "rent": 578.23},
    {"month": 23, "buy": 617.62, "rent": 590.12},
    {"month": 24, "buy": 614.48, "rent": 560.34},
    {"month": 25, "buy": 606.98, "rent": 580.12}
];

var payOff = 15;
</script>
<script src="static/js/equity.js"></script>
</html>