<!DOCTYPE html>
<meta charset="utf-8">
<body>

<div class="container">
</div>

<table>
    <tr>
        <th>Graphics</th>
        <th>Selections</th>
    </tr>
    <tr>
        <td style="width:70%">
            <div id="choroplethContainer">
                <svg id="choroplethSVG" width="600" height="350"></svg>
            </div>
            reference: above uses zips.tsv https://github.com/NelsonMinar/zipdecode-js
            original: zip.gz from https://benfry.com/writing/zipdecode/ch06-zipdecode.zip

        </td>
        <td style="width:30%">
            <div id="locationSelectionsContainer">
                <svg id="locationSelectionsSVG" width="350" height="350"></svg>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width:70%">
            <div id="container1">
                <svg id="canvas1" width="600" height="300"></svg>
            </div>
            <p id="message">If you stay in your home for <strong>{{payOff}} months or more</strong>, <strong>buying</strong> is the most profitable option.</p>
        </td>
        <td style="width:30%">
            <div id="equitySelectionsContainer">
                <svg id="equitySelectionsSVG" width="350" height="300"></svg>
            </div>
        </td>
    </tr>
</table>


<link rel="stylesheet" type="text/css" href="../static/css/main.css">


<br>
<img src="../static/images/mockup.png" alt="Felipes original mockup">

</body>
<!-- <script src="../static/js/equity.js"></script> -->
<!-- <script src="static/js/main.js"></script> -->

<style>

input,
canvas {
  position: absolute;
}

input {
  background: transparent;
  border: none;
  margin: 10px 384px;
  width: 180px;
  font-size: 18px;
  padding: 6px;
  text-align: center;
}

</style>
<input autofocus maxlength=5 placeholder="type a zipcode">
<script src="../static/js/d3.v5.min.js"></script>
<script src="../static/js/queue.v1.min.js"></script>
<script src="../static/js/topojson.v2.min.js"></script>

<script>

var width = 960,
    height = 500;

var projection = d3.geoAlbersUsa()
    .scale(1000)
    .translate([width / 2, height / 2]);

d3.tsv("../static/maps/zips.tsv", function(error, zipcodes) {
  if (error) throw error;

  var zip0;

  // Compute projected locations of each zipcode.
  zipcodes.forEach(function(d) {
    var p = projection([+d.lon, +d.lat]);
    if (p) d.x = Math.round(p[0]), d.y = Math.round(p[1]);
  });

  var input = d3.select("input")
      .on("cut", function() { setTimeout(change, 10); })
      .on("paste", function() { setTimeout(change, 10); })
      .on("change", change)
      .on("keyup", change);

  change();

  function change() {
    var zip1 = input.property("value");
    if (zip0 === zip1) return;
    zip0 = zip1;

    // Select old canvases to remove after fade.
    //var canvas0 = d3.selectAll("canvas");
    var canvas0 = d3.selectAll("choroplethSVG")

    // Add a new canvas, initially with opacity 0, to show the new zipcodes.
    var canvas1 = d3.select("body").insert("choroplethSVG", "input")
        .attr("width", width)
        .attr("height", height)
        .style("opacity", 0);

    var context = canvas1.node().getContext("2d");
    context.fillStyle = "#fff";
    context.fillRect(0, 0, width, height);

    // Render the inactive zipcodes.
    context.globalAlpha = .4;
    context.fillStyle = zip1 ? "#aaa" : (zip1 = "*", "#000");
    zipcodes.forEach(function(d) {
      for (var i = 0, n = zip1.length; i < n; ++i) {
        if (d.zip[i] !== zip1[i]) {
          context.fillRect(d.x, d.y, 1, 1);
          return;
        }
      }
    });

    // Render the active zipcodes.
    context.globalAlpha = 1;
    context.fillStyle = "#f00";
    zipcodes.forEach(function(d) {
      for (var i = 0, n = zip1.length; i < n; ++i) {
        if (d.zip[i] !== zip1[i]) {
          return;
        }
      }
      context.fillRect(d.x, d.y, 1, 1);
    });

    // Use a transition to fade-in the new canvas.
    // When this transition finishes, remove the old canvases.
    canvas1.transition()
        .duration(350)
        .style("opacity", 1)
        .each("end", function() { canvas0.remove(); });
  }
});

</script>
</html>
